.LoginBox {
  width: 400px;
  height: 250px;
  border-radius: 25%;
  background-color: #343434;
  display: flex;
  color: #ffffff;
  justify-content: center;
}

.Content {
  margin: 0;
  position: absolute;
  background-color: #141414;
  padding: 100%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.SubmitButton {
  background-color: #141414;
}
